:root {
    --UI-color: #00000066;
}
* {
    padding: 0;
    margin: 0;
}

/*body*/

body {
    color: white;
    width: 100vw;
    height: 100vh;
    background-image: url(../image/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    background-attachment: fixed;
}

/*backfilter*/

.backfilter {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000030;
    backdrop-filter: blur(20px);
    z-index: -1145;
}

/*header*/

header {
    background-color: var(--UI-color);
    height: 60px;
    width: 100%;
    position: fixed;
}
#logo_in_header {
    position: absolute;
    left: 50px;
}
header h1 {
    display: inline;
    position: absolute;
    top: 0;
    line-height: 60px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header ul {
    position: absolute;
    top: 0;
    right: 5vw;
    line-height: 60px;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header ul li a {
    font-size: 18px;
}

/*main*/

main{
    display: flex;
    padding: 60px 0 0 0;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 120px);
}
main .title {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
    font-size: 50px;
}
main a {
    margin: 0 0 20px 0;
    display: flex;
    justify-content: center;
    color: #0000EE;
    text-decoration: none;
}
main a:hover {
    text-decoration: underline;
}

/* footer */

footer {
    background-color: var(--UI-color);
    color: white;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: auto;
}