:root {
    --UI-color: #00000066;
    --background-image: url(https://bing.img.run/1920x1080.php);
    --back-filter: 20px;
    --back-filter-color: #00000030;
}
@font-face {
    font-family: "default";
    src: url();
    font-display: swap;
}
@font-face {
    font-family: "ubuntu";
    src: url(./fonts/Ubuntu-Regular.ttf);
    font-display: swap;
}
* {
    padding: 0;
    margin: 0;
    font-family: "ubuntu","default";
}
body{
    width: 100vw;
    height: 100vh;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.backfilter {
    position: fixed;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(var(--back-filter));
    background-color: var(--back-filter-color);
    z-index: -1145;
}
header {
    background-color: var(--UI-color);
    height: 60px;
    width: 100%;
    position: fixed;
}
#logo_in_header {
    position: absolute;
    left: 50px;
}
header h1 {
    display: inline;
    position: absolute;
    top: 0;
    line-height: 60px;
}
header a {
    color: white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header ul {
    position: absolute;
    top: 0;
    right: 5vw;
    line-height: 60px;
}
header li {
    display: inline;
    margin-right: 4vw;
}
header ul li a {
    font-size: 18px;
}
main {
    display: flex;
    padding: 60px 0 0 0;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    min-height: calc(100vh - 120px);
}
footer {
    background-color: var(--UI-color);
    color: white;
    height: 60px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-top: auto;
}
.welcome {
    font-size: 55px;
    color: white;
}