* {
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #231C1A;
    height: 60px;
    width: 100%;
}
header > a{
    color: white;
    position: absolute;
    left: 6vw;
    top: 0vw;
    line-height: 60px;
}
header ul{
    position: absolute;
    left: 24vw;
    top: 0vw;
    line-height: 60px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
/* header,section,footer{
    background-color: #d6ccc2;
    border: 5px #9d8189 solid;
    padding: 30px 50px;
    margin: 30px;
} */
